.cards-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: 16px;
  margin-block: 16px;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
  background-color: green;
}

.product-card-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: red;
}